.outerbox{
    width: 70vw;
    border: 1px solid;
    margin: auto;
}
.productsOuter{
    width: 100%;
    border: 1px solid;
}
.singleProduct{
    display: flex;
    width: 100%;
    border: 1px solid;
    height: 140px;
}
.Imgdiv{
    width: 20%;
    border: 1px solid;
    padding: 1%;
}
.Imgdiv > img{
    width: 100%;
    height: 100%;
}
.detailsdiv{
    width: 80%;
    display: flex;
    height: 100%;
}
.productname{
    width: 50%;
    border: 1px solid;
    padding: 2%;
    height: 100%;
}
.productprice{
    width: 15%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    width: 20%;
    border: 1px solid;
    display: flex;
    padding: 1%;
    height: 100%;
}
.removeproduct{
    width: 15%;
    border: 1px solid;
    height: 100%;
    display: flex;
    padding: 1%;
}

.counterbtn{
    width: 5%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px;
}

.countText{
    width: 5%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.removebtn{
    width: 70%;
    margin: auto;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: white;
    border-radius: 10%;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(249, 57, 57);
}



@media all and (min-width: 320px) and (max-width: 767px) {
    .outerbox{
        width: 80%;
    }
    .singleProduct{
        height: 200px;
    }
    .removebtn{
        height: 70%;
        width: 50%;
        font-size: 15px;
        padding: 5px;
    }
    .detailsdiv{
        display: flex;
        flex-direction: column;
    }
    .productname{
        width: 100%;
        height: 25%;
    }
    .productprice{
        width: 20%;
        height: 25%;
    }
    .counter{
        width: 50%;
        height: 25%;
    }
    .removeproduct{
        width: 40%;
        height: 25%;
    }
}


@media all and (min-width: 768px) and (max-width: 1080px) {
    
    .outerbox{
        width: 80%;
    }
    .singleProduct{
        height: 200px;
    }
    .removebtn{
        height: 70%;
        width: 50%;
        font-size: 20px;
        padding: 5px;
    }
    .detailsdiv{
        display: flex;
        flex-direction: column;
    }
    .productname{
        width: 100%;
        height: 25%;
    }
    .productprice{
        width: 20%;
        height: 25%;
    }
    .counter{
        width: 40%;
        height: 25%;
    }
    .removeproduct{
        width: 40%;
        height: 25%;
    }
}