/* addressbox */
.addressbox {
    width: 80vw;
    border: 1px solid;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    height: 70vh;
}

.line1 {
    width: 70vw;
    margin: auto;
    margin-top: 10px;
    border-bottom: 1px solid rgb(129, 125, 125);
}

/* contactinfo box */

.contactInfo {
    display: flex;
    width: 50vw;
    margin-left: 5vw;
    justify-content: space-between;
}

.myfloat {
    position: relative;
    padding-top: 13px;
}

.myfloat input {
    border: 1px solid rgb(129, 125, 125);
    outline: none;
    border-radius: 4px;
    height: 40px;
    width: 20vw;
    padding-top: 0px;
    padding-left: 10px;
    font-size: 13px;
}

.myfloat label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
    background-color: white;
    color: rgb(129, 125, 125);
    font-size: 13px;
}


.divider{
    width: 70vw;
    margin: auto;
    background-color: whitesmoke;
    height: 8px;
    margin-top: 4vh;
}

/* addressInfo */
.addresspin{
    width: 70vw;
    display: flex;
    margin-left: 5vw;
    justify-content: space-between;
}
.detailedaddress{
    width: 70vw;
    margin: auto;
    margin-top: 2vh;
}
.addressfield input{
    width: 100%;
}

.type{
    width: 100px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgb(129, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 125, 125);
}
.typesof{
    display: flex;
    width: 15vw;
    margin-left: 5vw;
    justify-content: space-between;
    margin-top: 2vh;
}

.lastbuttons{
    display: flex;
    width: 70vw;
    margin: auto;
    justify-content: space-between;
    margin-top: 6vh;
}
.lastbtn{
    display: block;
    border: 1px solid;
    padding: 0px 10px;
    height: 30px;
    font-size: 18px;
}




@media all and (min-width: 320px) and (max-width: 700px) {
    .addressbox {
        height: 85vh;
    }
    .contactInfo{
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
    .myfloat input {
        border: 1px solid rgb(129, 125, 125);
        outline: none;
        border-radius: 4px;
        height: 40px;
        width: 60vw;
        padding-top: 0px;
        padding-left: 10px;
        font-size: 13px;
    }
    
    .myfloat label {
        position: absolute;
        top: 0;
        left: 10px;
        padding: 0px 5px 0px 5px;
        box-sizing: border-box;
        background-color: white;
        color: rgb(129, 125, 125);
        font-size: 13px;
    }
    .addresspin{
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
    .detailedaddress{
        width: 60vw;
        margin-left: 5vw;
        margin-top: 2vh;
    }
    .lastbtn{
        font-size: 16px;
    }
    .typesof{
        width: 35vw;
    }
}